$bg-color: #040507;
$bg-color-2-transparent: rgba(28, 34, 48, 0.9);
$bg-light: #ecf0f1;
$bg-light-transparent: rgba(255, 255, 255, 0.7);
$attention: #c99337;
$attention-transparent: rgba(201, 147, 55, 0.9);
$attention-transparent-1: rgba(200, 147, 55, 0.5);
$attention-2: #304e60;
$attention-2-transparent: rgba(48, 78, 96, 0.7);
