$bg-color: #2c3e50;
$bg-color-2-transparent: rgba(52, 73, 94, .9);
$bg-light: #ecf0f1;
$bg-light-transparent: rgba(255, 255, 255, 0.95);
$attention: #FFB900;
$attention-transparent: rgba(255, 187, 0, .9);
$attention-transparent-2: rgba(255, 187, 0, .5);