@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;

  #particles-js {
    height: 100%;
    width: 100vw;
    background: $bg-color;
    position: fixed;
    z-index: -1;
  }
  #home {
    height: 100vh;
    display: flex;
    align-items: center;
    #opening {
      background-color: $bg-color-2-transparent;
      margin: auto;
      width: max-content;
      display: flex;
      justify-content: center;
      font-family: "Montserrat", sans-serif;
      transform-style: preserve-3d;
      transform: perspective(1000px);

      .btn-floating {
        background-color: $attention-transparent;
        min-width: fit-content;
        max-width: 100%;
        border-radius: 2px;
        padding: 0 1rem;
        transform: translateZ(50px);
      }

      #opening-sentence {
        padding: 4rem;
        line-height: 4rem;
        #name {
          color: $attention;
          transform: translateZ(50px);
        }
      }

      #contact-me {
        background-color: $attention-transparent-2;
      }
    }
  }

  #navbar {
    background-color: $attention-transparent;
    position: fixed;
    top: 0;
    padding: 1rem;
    height: fit-content;
    z-index: 1;
    transition: all 0.5s ease;

    a {
      color: black;
      padding: 0 2rem;
      margin: 0 2rem;
      width: max-content;
      text-align: center;
    }

    a:hover {
      background-color: black;
      color: $attention;
    }
  }

  #about {
    height: 100vh;
    padding-top: 10em;
    display: flex;
    justify-content: center;
    .carousel {
      height: 100%;
    }

    .carousel-item {
      min-width: fit-content;
      padding: 5rem;
      cursor: grab;
    }

    .card {
      padding: 3rem;
      background-color: $bg-light-transparent;
      z-index: 0;
      transform-style: preserve-3d;
      transform: perspective(1000px);
      height: max-content;

      .title {
        background-color: black;
        padding: 0.5rem;
        color: $bg-light;
      }

      .card-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
      }

      img {
        width: 100px;
        transform: translateZ(50px);
        transition: all 0.2s ease-in-out;
      }

      img:hover {
        transform: scale(1.5);
      }

      #profile-photo {
        border-radius: 50%;
        transform: scale(1);
      }

      #profile-photo:hover {
        transform: scale(1);
      }

      .btn-floating {
        background-color: $bg-light;
        color: $bg-color;
        min-width: fit-content;
        max-width: 100%;
        border-radius: 2px;
        padding: 0 1rem;
        transform: translateZ(50px);
      }
    }
  }

  #projects-container {
    padding-top: 10rem;
    #projects {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 2rem;

      .cards-container {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-template-rows: repeat(auto-fit);
      }

      #title {
        background-color: $attention;
        padding: 0.5rem;
        justify-content: center;
        #title-text {
          color: black;
        }
      }

      .card {
        margin: 3rem;
        background-color: $bg-light;
        z-index: 0;
        transform-style: preserve-3d;
        transform: perspective(1000px);

        img {
          transform: scale(0.65);
        }

        p {
          line-height: 2.5rem;
        }
        .btn,
        .btn-floating {
          background-color: $attention;
          min-width: fit-content;
          border-radius: 2px;
          padding: 0 1rem;
          transform: translateZ(20px);
        }

        .btn {
          background-color: $bg-color;
        }
      }

      .project {
        transition: opacity 0.5s ease-in-out;
      }
    }
  }

  #contact-container {
    padding-top: 10em;
    #contact {
      background-color: $attention-transparent;
      padding: 5rem;

      .card {
        background-color: black;
        padding: 0.5rem;
        h3 {
          color: $bg-light;
        }
      }

      label {
        color: black;
      }

      input,
      textarea {
        border-color: $bg-light;
        margin: 2rem 0;
        transform: translateZ(20px);
      }

      .input-field {
        margin: 5rem 0;
        transform-style: preserve-3d;
        transform: perspective(1000px);
      }

      label {
        font-size: x-large;
      }

      input.invalid:not([type]),
      input.invalid:not([type]):focus,
      input.invalid[type="text"]:not(.browser-default),
      input.invalid[type="text"]:not(.browser-default):focus,
      input.invalid[type="password"]:not(.browser-default),
      input.invalid[type="password"]:not(.browser-default):focus,
      input.invalid[type="email"]:not(.browser-default),
      input.invalid[type="email"]:not(.browser-default):focus,
      input.invalid[type="url"]:not(.browser-default),
      input.invalid[type="url"]:not(.browser-default):focus,
      input.invalid[type="time"]:not(.browser-default),
      input.invalid[type="time"]:not(.browser-default):focus,
      input.invalid[type="date"]:not(.browser-default),
      input.invalid[type="date"]:not(.browser-default):focus,
      input.invalid[type="datetime"]:not(.browser-default),
      input.invalid[type="datetime"]:not(.browser-default):focus,
      input.invalid[type="datetime-local"]:not(.browser-default),
      input.invalid[type="datetime-local"]:not(.browser-default):focus,
      input.invalid[type="tel"]:not(.browser-default),
      input.invalid[type="tel"]:not(.browser-default):focus,
      input.invalid[type="number"]:not(.browser-default),
      input.invalid[type="number"]:not(.browser-default):focus,
      input.invalid[type="search"]:not(.browser-default),
      input.invalid[type="search"]:not(.browser-default):focus,
      textarea.materialize-textarea.invalid,
      textarea.materialize-textarea.invalid:focus,
      .select-wrapper.invalid > input.select-dropdown,
      .select-wrapper.invalid > input.select-dropdown:focus {
        border-color: #f44336;
        box-shadow: 0 1px 0 0 #f44336;
      }

      input.valid:not([type]),
      input.valid:not([type]):focus,
      input.valid[type="text"]:not(.browser-default),
      input.valid[type="text"]:not(.browser-default):focus,
      input.valid[type="password"]:not(.browser-default),
      input.valid[type="password"]:not(.browser-default):focus,
      input.valid[type="email"]:not(.browser-default),
      input.valid[type="email"]:not(.browser-default):focus,
      input.valid[type="url"]:not(.browser-default),
      input.valid[type="url"]:not(.browser-default):focus,
      input.valid[type="time"]:not(.browser-default),
      input.valid[type="time"]:not(.browser-default):focus,
      input.valid[type="date"]:not(.browser-default),
      input.valid[type="date"]:not(.browser-default):focus,
      input.valid[type="datetime"]:not(.browser-default),
      input.valid[type="datetime"]:not(.browser-default):focus,
      input.valid[type="datetime-local"]:not(.browser-default),
      input.valid[type="datetime-local"]:not(.browser-default):focus,
      input.valid[type="tel"]:not(.browser-default),
      input.valid[type="tel"]:not(.browser-default):focus,
      input.valid[type="number"]:not(.browser-default),
      input.valid[type="number"]:not(.browser-default):focus,
      input.valid[type="search"]:not(.browser-default),
      input.valid[type="search"]:not(.browser-default):focus,
      textarea.materialize-textarea.valid,
      textarea.materialize-textarea.valid:focus,
      .select-wrapper.valid > input.select-dropdown {
        border-color: black;
        box-shadow: 0 1px 0 0 black;
      }

      input:not([type]):focus:not([readonly]),
      input[type="text"]:not(.browser-default):focus:not([readonly]),
      input[type="password"]:not(.browser-default):focus:not([readonly]),
      input[type="email"]:not(.browser-default):focus:not([readonly]),
      input[type="url"]:not(.browser-default):focus:not([readonly]),
      input[type="time"]:not(.browser-default):focus:not([readonly]),
      input[type="date"]:not(.browser-default):focus:not([readonly]),
      input[type="datetime"]:not(.browser-default):focus:not([readonly]),
      input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
      input[type="tel"]:not(.browser-default):focus:not([readonly]),
      input[type="number"]:not(.browser-default):focus:not([readonly]),
      input[type="search"]:not(.browser-default):focus:not([readonly]),
      textarea.materialize-textarea:focus:not([readonly]) {
        border-color: black;
        box-shadow: none;
      }

      button {
        font-size: x-large;
        text-align: start;
        transition: width 0.3s ease-in-out;
        width: 0%;
        min-width: fit-content;
        z-index: 0;
      }

      button:hover {
        max-width: 100%;
        color: $attention;
        width: 100%;
      }
    }
  }
}

.low-opacity {
  opacity: 0.3;
}
