@import 'variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    flex-direction: column;

    #particles-js{
        height: 100vh;
        width: 100vw;
        background-color: $bg-color;
        position: fixed;
        z-index: -1;
    }

    #opening{
        background-color: $bg-color-2-transparent;
        #opening-sentence{
            margin-top: 30vh;
            padding: 4rem;
            line-height: 4rem;
        }
        .btn-floating{
            background-color: $attention-transparent;
            min-width: fit-content;
            border-radius: 2px;
            padding: 0 1rem;
        }
    }

    .highlight{
        color: $attention;
    }
}